---
import MainLayout from "../layouts/MainLayout.astro";

import FlowBackground from "../components/FlowBackground.astro";
---

<MainLayout title="Home">
  <main>
    <FlowBackground />
  </main>
</MainLayout>
