---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Stats from "../components/Stats.astro";
import Products from "../components/Products.astro";
---

<MainLayout title="Home">
  <main>
    <Hero />
    <Features />
    <Stats />
    <Products />
  </main>
</MainLayout>
